@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/image-list/mdc-image-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/layout-grid/mdc-layout-grid";


.username,
.password {
  display: block;
  width: 300px;
  margin: 40px auto;
}




.mdc-text-field__input{
  padding-left:16px!important;
}

.input-text{

}

.button-container {
  display: flex;
  // justify-content: flex-end;
  width: 300px;
  // margin: auto;
}

.button-container button {
  margin: 3px;
}

.login-button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.login-button-container button {
  margin: 3px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

// Login page styles

.landing-logo {
  text-align: center;
  margin: auto;
}

.app-nav-header {
  // @include mdc-top-app-bar-fill-color(white)
  height:70px
}

.side-drawer{
  width: 200px;
}

.action-margin{
  margin-right: 5px;
  width: auto;
  display: inline-block;
  color: white!important
}

.text-black{
  color: black!important
}

.product-list {
  margin-top: 70px;
  @include mdc-image-list-standard-columns(4);

  overflow: auto;
}

.pt-h{
  padding-top: 75px;
}

.mb-h{
  margin-bottom: 75px;
}

.shrine-logo {
  padding-top: 80px;
  fill: currentColor;
}

.side-nav-shrine-logo{
  fill: currentColor;
}


.ml-1{
  margin-left: 10px;
}

.shrine-logo-drawer {
  width: 60px;
  padding-top: 10px;
  margin-left: 70px;
  fill: currentColor;
  z-index: 1;
  position:relative
}

.shrine-title {
  align-self: center;
  margin: 5px auto;
}

.move-back{
  z-index: -1;
  margin-bottom: 50px
}

div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 4px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}
