/* primary color =  */
/* secondary color 1 = rgba(98, 0, 238, 0.87) */
/* secondaru color 2 =  #7d7d7d*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Roboto", sans-serif;
}

h2.label {
  padding: 0 25px;
}

#orgNames{
  max-height: 5px;
}


.mdc-text-field__input.form-input-referral{
  width:400px!important
}

.mdc-text-field--textarea .mdc-text-field__label{
  background-color: rgba(233,171,88,0)!important;
}

.mdc-floating-label {
  pointer-events: none;
}

.referral-notes-content {
  border: 1px solid #aaa;
  height: 50vh;
  overflow: scroll;
  padding: 5px;
  width: 95%;
  margin: auto;
}

.add-referral-header {
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.header {
  border: 1px solid #aaa;
  border-top: none;
  padding: 10px;
}
.header h1 {
  display: inline-block
}

.header-logout {
  float: right;
}

.cell-border{
  border: solid 1px blue
}

.right{
  float:right;
  display: inline-block;
}

* {box-sizing: border-box;}
.wrapper {
  margin: 0 auto;
}

.wrapper > div {
  /* border: 2px solid rgb(233,171,88); */
  border-radius: 5px;
  /* background-color: rgba(233,171,88,.2); */
}

.wrapper > section {
  /* border: 2px solid rgb(50,171,222); */
  border-radius: 5px;
  /* background-color: rgba(50,171,222,.2); */
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(40px, auto);
}
.grid-header {
  grid-column: 1/13;
  grid-row: 1/4;
}

.pending-header{
  grid-column: 2 / 12;
  grid-row: 1;
  text-align: center;
}

.back-button{
  grid-column: 1;
  grid-row: 1;
  padding: 10px;
}

.back-button span {
  /* margin-left: 10px; */
}

.back-button a {
  color: rgb(63, 81, 181);
}

.back-button a:hover {
  color: rgb(83, 111, 201);
  cursor: pointer;
}

.body {
  grid-column: 1 / 13;
  grid-row: 2;
}

.pending-details{
  grid-column: 1 / 13;
  grid-row: 1;
}

.block{
  display: block!important;
  width: 90%!important;
}

.accepted-grid-client{
  margin-top: 68px;
  grid-column: 10 / 13;
  grid-row: 2;
}

.accepted-grid-member{
  grid-column: 10 / 13;
  grid-row: 3;
}

.accepted-grid-details{
  grid-column: 10 / 13;
  grid-row: 4;

  overflow:scroll;
}

.accepted-grid-notes{
  grid-column: 2 / 10;
  grid-row: 2 / 5;
}


.grid-left{
  grid-column: 4 / 7;
  grid-row: 2;
}
.grid-right{
  grid-column: 7 / 10;
  grid-row: 2;
}
.grid-description{
  grid-column: 4 / 10;
  grid-row: 3;
}
.grid-accept-reject{
  margin: auto;
  grid-column: 1 / 13;
  grid-row: 4;
}

.modal-grid{
  grid-column: 1 / 13;
  grid-row: 1/10;
  height: 50px!important;
}

.org-logo{
  width: 50px;
  grid-column: 1;
}

.modal-list-name{
  grid-column: 3/13;
}

.accept{
  margin:5px;
}
.reject{
  margin:5px;
}

.pointer{
  cursor: pointer;
}

.referral-notes-input {
  padding: 10px 20px;
}

.referral-notes-save {
  padding-left: 20px;
}

.section-organization {
  display: inline-block;
  grid-column: 4 / 13;
  grid-row: 1;
}

.section-organization > div {
  display: inline-block;
}



.section-client {
  grid-column: 4/13;
  grid-row: 2;

}


.myorg-logo{
  margin-top: 10px;
}

.row:before,
 .row:after,
 {

  }

  .row{
    display: inline-block;
  }


.row:after
{
 clear: both;
}

.exit-window{
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}



/* @media (min-width:870px) { */
  .organization-modal {
    position: absolute;
    top: 100px;
    border: solid 1px black;
    background-color: white;
    left: calc(50% - 220px);
    width: 440px;
    height:80%;
    padding:25px;
    overflow: scroll;
  }
/* } */
@media only screen and  (max-width:900px) {
  .organization-modal {
    border: solid 1px black;
    background-color: white;
    position: absolute;
    top: 100px;
    left: calc(50% - 220px);
    width: 440px;
    height:80%;
    padding:25px;
  }
  .grid-left{
    grid-column: 3 / 7;
    grid-row: 1;
    padding:10px;
  }
  .grid-right{
    grid-column: 7 / 11;
    grid-row: 1;
  }
  .grid-description{
    grid-column: 4 / 10;
    grid-row: 2;
  }
  .grid-accept-reject{
    grid-column: 1 / 13;
    grid-row: 3;
  }
}
@media only screen and  (max-width:480px) {
  .organization-modal {
    border: solid 1px black;
    background-color: white;;
    position: absolute;
    top: 100px;
    left:calc(50% - 140px);
    width: 280px;
    height:80%;
    padding:10px;
  }
  .mdc-text-field__input.form-input-referral{
    width:260px!important;
  }
  .grid-left{
    grid-column: 2 / 12;
    grid-row: 1;

  }
  .grid-right{
    grid-column: 2 / 12;
    grid-row: 2;
  }
  .grid-description{
    grid-column: 2 / 12;
    grid-row: 3;
  }
  .grid-accept-reject{
    grid-column: 1 / 13;
    grid-row: 4;
  }

  .progress-container {
    width: 420px!important;
  }
  .progressbar {
    margin-left: -25px!important;
    counter-reset: step;
  }
}

/* .organization-modal{
  border: solid 1px black;
  background-color: white;
  position: absolute;
  top: 100px;
  margin: auto;
  width: 450px;
  height:80%;
  padding:25px;
} */

.find{
  position: relative;
  top: -32px;
  left: 10px;
}

.grid-1-1{
  grid-column: 1/13;
  grid-row: 1;
}

.disabled{
  pointer-events:none;
  /* background-color: rgba(50,50,50,.2); */
}

.center{
  margin:auto
}

.center-text{
  text-align: center;
}

.text-muted {
  color: #777;
  font-size: .9em;
}

.progress-container {
  display: inline-block;
  width: 480px;
  }
  .progressbar {
    margin-left: 55px;
    counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: black;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #26D999;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: black;
  }

  .progressbar li.complete:before {
      content: '✓';
      color: white;
      counter-increment: step;
      background-color: #26D999;
  }

  .progressbar li.complete {
      content: '✓';
      color: black;
  }


  .progressbar li.complete:before {
      border-color: #26D999;
  }

  .progressbar li.active:before {
      border-color: #26D999;
  }

  .progressbar li.active + li:after {
      background-color: #7d7d7d;
  }

  .pt-1{
    padding-top: 10px;
  }
  .pt-2{
    padding-top: 20px;
  }
  .py-2{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .px-1 {
    padding-left: 10px;
    padding-right: 10px;
  } 

  .m-0{
    margin-bottom: 5px!important;
    margin-top: 2px!important;
  }

  .mx-2{
    margin-left: 10px;
    margin-right: 10px;
  }

  .orgName-title{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin-bottom: 5px;
  }

  .tag{
    border: 1px solid gray;
    background-color: #DDD;
    border-radius: 20px;
    padding:2px 5px;
  }

  .modal.wrapper {
    margin-bottom: 10px;
  }

  h4{
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .highlight {
    background: #eee;
    font-weight: bolder!important;
  }
  .rt-table {
    font-family: Arial, Helvetica, sans-serif;
  }

  .rt-th {
    font-weight: bold;
  }
  .rt-table .rt-tr.-even {
    background-color: #f6f6f6;
  }
  .rt-table span[class^="status"] {
    border: 1px solid #bbb;
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 10px;
  }
  .rt-table .status-pending {
    background-color: rgb(255, 153, 0);
  }
  .rt-table .status-accepted {
    background-color: rgb(0, 255, 0);
  }
  .rt-table .status-contacted {
    background-color: rgb(0, 132, 255);
  }
  .rt-table .status-completed {
    background-color: rgb(238, 255, 0);
  }
  .rt-table .status-rejected {
    background-color: rgb(255, 0, 0);
  }



#cancel-new-referral {
  color: rgb(210, 38, 0);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  position: relative;
  text-transform: uppercase;
  top: 15px;
}

div.ReactTags__tags {
  position: relative;
  right: 0
}
.tagsClass{
  position: fixed;
  right:0;
}


/* Styles for the input */
div.ReactTags__tagInput {
  margin-left: 10px;
  margin-top: 5px;
  width: 200px;
  border-radius: 2px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);

}

.tagInputField{
  font-family: 'Roboto', sans-serif!important;
  font-size: 16px!important;
}

.tagInputField:focus {
  outline: none !important;
  border-bottom: 2px solid rgb(63, 81, 181)!important;
}

.tagInputField:focus + .react-tag-label {
    color: rgba(98, 0, 238, 0.87)!important;
}
.react-tag-label{
  font-family: 'Roboto', sans-serif!important;
  font-size: 16px!important;
  margin-left: 25px;
  margin-bottom: 3px;
}


div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {

  height: 56px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, .42);
  padding: 15px 0 0 15px;
  background-color: whitesmoke;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 10px 5px 0 10px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}
.load-icon{
  width: 200px;
}
.loading-img {
  position: fixed;
  left: 42%;
  top:40%;

}
.myorg-logo {
  height: 75px;
  width: 75px;
}
