body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.mdc-text-field__input.form-input-referral{
  width:400px!important
}

.mdc-text-field--textarea .mdc-text-field__label{
  background-color: rgba(233,171,88,0)!important;
}

.mdc-floating-label {
  pointer-events: none;
}

.referral-notes-content {
  border: 1px solid #aaa;
  height: 50vh;
  overflow: scroll;
  width: 50%;
}

.add-referral-header {
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.header {
  border: 1px solid #aaa;
  border-top: none;
  padding: 10px;
}
.header h1 {
  display: inline-block
}

.header-logout {
  float: right;
}

.cell-border{
  border: solid 1px blue
}

.right{
  float:right;
  display: inline-block;
}

* {box-sizing: border-box;}
.wrapper {
  margin: 0 auto;
}

.wrapper > div {
  /* border: 2px solid rgb(233,171,88); */
  border-radius: 5px;
  /* background-color: rgba(233,171,88,.2); */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(80px, auto);
}
.grid-header {
  grid-column: 1/12;
  grid-row: 1;
}
.body {
  grid-column: 1 / 12;
  grid-row: 2;
}
.section-organization {
  display: inline-block;
  grid-column: 4 / 12;
  grid-row: 1;
}

.section-organization > div {
  display: inline-block;
}

.row{
  display: inline-block;
}

.exit-window{
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

/* @media (min-width:870px) { */
  .organization-modal {
    position: absolute;
    top: 100px;
    border: solid 1px black;
    background-color: white;
    left: calc(50% - 220px);
    width: 435px;
    height:80%;
    padding:25px;
  }
/* } */
@media only screen and  (max-width:869px) {
  .organization-modal {
    border: solid 1px black;
    background-color: white;
    position: absolute;
    top: 100px;
    left: calc(50% - 220px);
    width: 440px;
    height:80%;
    padding:25px;
  }
}
@media only screen and  (max-width:440px) {
  .organization-modal {
    border: solid 1px black;
    background-color: white;;
    position: absolute;
    top: 100px;
    left:calc(50% - 140px);
    width: 280px;
    height:80%;
    padding:10px;
  }
  .mdc-text-field__input.form-input-referral{
    width:260px!important;
  }
}

/* .organization-modal{
  border: solid 1px black;
  background-color: white;
  position: absolute;
  top: 100px;
  margin: auto;
  width: 450px;
  height:80%;
  padding:25px;
} */

.wrapper > section {
  /* border: 2px solid rgb(50,171,222); */
  border-radius: 5px;
  /* background-color: rgba(50,171,222,.2); */
}

.section-client {
  grid-column: 4 / 10;
  grid-row: 2;
}

.find{
  position: relative;
  top: -32px;
  left: 10px;
}

.grid-1-1{
  grid-column: 1/12;
  grid-row: 1;
}

.disabled{
  pointer-events:none;
  /* background-color: rgba(50,50,50,.2); */
}
