body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#orgNames{
  max-height: 5px;
}


.mdc-text-field__input.form-input-referral{
  width:400px!important
}

.mdc-text-field--textarea .mdc-text-field__label{
  background-color: rgba(233,171,88,0)!important;
}

.mdc-floating-label {
  pointer-events: none;
}

.referral-notes-content {
  border: 1px solid #aaa;
  height: 50vh;
  overflow: scroll;
  width: 95%;
  margin: auto;
}

.add-referral-header {
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.header {
  border: 1px solid #aaa;
  border-top: none;
  padding: 10px;
}
.header h1 {
  display: inline-block
}

.header-logout {
  float: right;
}

.cell-border{
  border: solid 1px blue
}

.right{
  float:right;
  display: inline-block;
}

* {box-sizing: border-box;}
.wrapper {
  margin: 0 auto;
}

.wrapper > div {
  /* border: 2px solid rgb(233,171,88); */
  border-radius: 5px;
  /* background-color: rgba(233,171,88,.2); */
}

.wrapper > section {
  /* border: 2px solid rgb(50,171,222); */
  border-radius: 5px;
  /* background-color: rgba(50,171,222,.2); */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(80px, auto);
}
.grid-header {
  grid-column: 1/13;
  grid-row: 1/4;
}

.pending-header{
  grid-column: 2 / 12;
  grid-row: 1;
  text-align: center;
}

.back-button{
  grid-column: 1;
  grid-row: 1;
}

.body {
  grid-column: 1 / 13;
  grid-row: 2;
}

.pending-details{
  grid-column: 1 / 13;
  grid-row: 1;
}

.block{
  display: block!important;
  width: 90%!important;
}

.accepted-grid-client{
  grid-column: 10 / 13;
  grid-row: 3;
}

.accepted-grid-member{
  grid-column: 10 / 13;
  grid-row: 2;
}

.accepted-grid-details{
  grid-column: 10 / 13;
  grid-row: 4;

  overflow:scroll;
}

.accepted-grid-notes{
  grid-column: 2 / 10;
  grid-row: 2 / 5;
}

.grid-left{
  grid-column: 4 / 7;
  grid-row: 2;
}
.grid-right{
  grid-column: 7 / 10;
  grid-row: 2;
}
.grid-description{
  grid-column: 4 / 10;
  grid-row: 3;
}
.grid-accept-reject{
  margin: auto;
  grid-column: 1 / 13;
  grid-row: 4;
}

.accept{
  margin:5px;
}
.reject{
  margin:5px;
}

.section-organization {
  display: inline-block;
  grid-column: 4 / 13;
  grid-row: 1;
}

.section-organization > div {
  display: inline-block;
}



.section-client {
  grid-column: 4/13;
  grid-row: 2;

}

.row{
  display: inline-block;
  clear: both;
}

.exit-window{
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.org-logo{
  width: 50px;
}

/* @media (min-width:870px) { */
  .organization-modal {
    position: absolute;
    top: 100px;
    border: solid 1px black;
    background-color: white;
    left: calc(50% - 220px);
    width: 440px;
    height:80%;
    padding:25px;
    overflow: scroll;
  }
/* } */
@media only screen and  (max-width:900px) {
  .organization-modal {
    border: solid 1px black;
    background-color: white;
    position: absolute;
    top: 100px;
    left: calc(50% - 220px);
    width: 440px;
    height:80%;
    padding:25px;
  }
  .grid-left{
    grid-column: 3 / 7;
    grid-row: 1;
    padding:10px;
  }
  .grid-right{
    grid-column: 7 / 11;
    grid-row: 1;
  }
  .grid-description{
    grid-column: 4 / 10;
    grid-row: 2;
  }
  .grid-accept-reject{
    grid-column: 1 / 13;
    grid-row: 3;
  }
}
@media only screen and  (max-width:480px) {
  .organization-modal {
    border: solid 1px black;
    background-color: white;;
    position: absolute;
    top: 100px;
    left:calc(50% - 140px);
    width: 280px;
    height:80%;
    padding:10px;
  }
  .mdc-text-field__input.form-input-referral{
    width:260px!important;
  }
  .grid-left{
    grid-column: 2 / 12;
    grid-row: 1;

  }
  .grid-right{
    grid-column: 2 / 12;
    grid-row: 2;
  }
  .grid-description{
    grid-column: 2 / 12;
    grid-row: 3;
  }
  .grid-accept-reject{
    grid-column: 1 / 13;
    grid-row: 4;
  }

  .progress-container {
    width: 420px!important;
  }
  .progressbar {
    margin-left: -25px!important;
    counter-reset: step;
  }
}

/* .organization-modal{
  border: solid 1px black;
  background-color: white;
  position: absolute;
  top: 100px;
  margin: auto;
  width: 450px;
  height:80%;
  padding:25px;
} */

.find{
  position: relative;
  top: -32px;
  left: 10px;
}

.grid-1-1{
  grid-column: 1/13;
  grid-row: 1;
}

.disabled{
  pointer-events:none;
  /* background-color: rgba(50,50,50,.2); */
}

.center{
  margin:auto
}

.center-text{
  text-align: center;
}

.progress-container {
  display: inline-block;
  width: 480px;
  }
  .progressbar {
    margin-left: 55px;
    counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: black;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #26D999;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: black;
  }

  .progressbar li.complete:before {
      content: '✓';
      color: white;
      counter-increment: step;
      background-color: #26D999;
  }

  .progressbar li.complete {
      content: '✓';
      color: black;
  }


  .progressbar li.complete:before {
      border-color: #26D999;
  }

  .progressbar li.active:before {
      border-color: #26D999;
  }

  .progressbar li.active + li:after {
      background-color: #7d7d7d;
  }

  .pt-1{
    padding-top: 10px;
  }
  .pt-2{
    padding-top: 20px;
  }

  h4{
    margin-bottom: 10px;
    margin-top: 0px;
  }
